/* MONOROM's RESET */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* render html5 elements as block  */
header, footer, section, aside, nav, article { display: block; }

/* no font-resize for IOS  */
html{ -webkit-text-size-adjust: none; }



/* im Header */

#schneeflocke {
	height: 20px;
}

#titel {
}


nav li:hover{
	background-color: F0E18D;
}






/* Kacheln */

.kachel {
	box-sizing: border-box;
	background-color: LightSteelBlue;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 0px 5px;
	
}

.kachel:hover {
	background-color: F0E18D;
}






/* Produktseite Inhalte */

.artikel {
	background-color: LightSteelBlue;
	padding: 5px;
}

.artikel h3 {}

.artikel img {
	height: 150px;
}

.artikel p {}

/*Slideshow*/
*{
	margin:0;
	padding:0;
}

#container{
	width:500px;
	height:200px;
	position:relative;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:500px;
	height:200px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}



/* Diverses */

a {
	text-decoration: none;
	color: black;
}