/* MONOROM's RESET */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* render html5 elements as block  */
header, footer, section, aside, nav, article { display: block; }

/* no font-resize for IOS  */
html{ -webkit-text-size-adjust: none; }



/* im Header */









/* Produktseite Inhalte */



 @media screen and (min-width : 768px){
 
 #articles {
 	display: -webkit-flex;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	-webkit-flex-wrap:wrap;
 	justify-content: flex-start;
 }
  
.article {
	width: calc(100% / 2 - 20px);
	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	position:relative;
	padding-bottom: 50px;
	
	}

}


@media screen and (min-width: 992px) {

.article {
	
	width: calc(100% / 3 - 20px);

	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;

	}
}

@media screen and (min-width: 1200px) {

.article {
	width: calc(100% / 4 - 20px);
	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	}
}




/* Allgemein */

a:link {
color: green;
}