/* MONOROM's RESET */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* render html5 elements as block  */
header, footer, section, aside, nav, article { display: block; }

/* no font-resize for IOS  */
html{ -webkit-text-size-adjust: none; }



/* im Header */


/* Carousel */
.carousel-inner img {
	margin: auto;
}






/* Produktseite Inhalte */



 @media screen and (min-width : 768px){
 
 #articles {
 	display: -webkit-flex;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	-webkit-flex-wrap:wrap;
 	justify-content: flex-start;
 }
  
.article {
	width: calc(100% / 2 - 20px);
	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	position:relative;
	padding-bottom: 50px;
	
	}

}


@media screen and (min-width: 992px) {

.article {
	
	width: calc(100% / 3 - 20px);

	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;

	}
}

@media screen and (min-width: 1200px) {

.article {
	width: calc(100% / 4 - 20px);
	-ms-flex-basis: auto;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	}
}




/* Allgemein */

a:link {
color: green;
}


/* Bilder hervorheben */

div.imageHold {
 transition: transform 0.8s;
 -moz-transition: transform 0.8s;
 -webkit-transition: transform 0.8s;
 -o-transition: transform 0.8s;
 -ms-transition: transform 0.8s;
}
div.imageHold:hover {
 cursor: zoom-in;
 cursor: -moz-zoom-in;
 cursor: -webkit-zoom-in;
 transform: scale(2.0, 2.0);
 -moz-transform: scale(2.0, 2.0);
 -webkit-transform: scale(2.0, 2.0);
 -o-transform: scale(2.0, 2.0);
 -ms-transform: scale(2.0, 2.0);
}
